.card {
    width: auto;
    border: 20em;
    margin: .2em;
    background-image: linear-gradient(to top, rgb(9, 45, 247),whitesmoke);
}
.card-title {
    justify-content: space-evenly;
    align-items: top;
    color: rgb(133, 4, 4);
    display: inline
}
.castMemberButton {
    display: flex;
    justify-content: space-evenly;
    margin: 0 0 100px 0;
}
.castMembers {
    display: flex;
    justify-content: space-evenly;
}
.castMembers_pic {
    display: inline;
}
.card-body {
    display: center;
    justify-content: center;
}
.nav-link:hover {
    color: greenyellow;
    motion-rotation: 360deg;
}
.nav-link-quit:hover {
    color: red;
    motion-rotation: 160deg;
    font-family: cursive;
}